/* 创建并排的三个非等列 */
.first {
	background-color: rgb(26, 43, 61);
	color: white;
	width: 200px;
	height: 800px;
	float: left;
	padding: 10px 15px;
}

.second {
	width: 80%;
	/*height: 800px;*/
	float: left;
	padding: 50px 15px;
}

.footer {
	background-color: white;
	padding: 10px;
	text-align: center;
}
